header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    margin-bottom: 30px;
}

header img {
    height: 100%;
}

nav {
    display: flex;
    float: right;
    height: 100%;
}

nav ul {
    margin: auto;
}

nav ul a {
    display: inline-block;
    margin-right: 15px;
    color: #0247db;
    font-weight: 600;
}

nav ul li {
    display: inline-block;
}

body {
    background-image: url('../img/pattern.jpg');
    margin: 0;
}

header::after {
    content: "";
    clear: both;
    display: table;
}

section {
    background-color: #ffffff;
    margin: 5% 20%;
    padding-bottom: 10px;
}

section h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}

section article {
    border-bottom: 1px solid #000;
    margin : 0 10px 10px 10px;
}

/* section article:nth-last-child(1) {
    border-bottom: none;
} */

footer {
    height: 60px;
    display: flex;
    background-color: #000;
}

footer h5 {
    color: #ffffff;
    margin: auto;
}