<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Latihan DOM</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container" id="app">
        <button v-on:click="upvote">+</button>
        {{ score }} {{new Date().toLocaleString()}} {{totalScore}}
        <button v-on:click="downvote">-</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        let scoreInit = 5
        var app = new Vue({
        el: '#app',        
        data: {
            score: scoreInit,
            totalScore: scoreInit
        },

        methods: {
            upvote: function() {
            this.isActive = !this.isActive;
                if(this.isActive){
                    data.score++;
                    data.totalScore++;
                }
                else{
                    data.score--;
                    data.totalScore--;
                }
            },
            downvote: function() {
            this.isActive = !this.isActive;
                if(this.isActive){
                    data.score--;
                    data.totalScore--;
                }
                else{
                    data.score++;
                    data.totalScore++;
                }
            }
        }
        })

    </script>
</body>
</html>

